<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>SantaHelper</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="container">
    <div id="header">
      <%= image_tag("SantaHelper.png", :alt => "heading") %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>